<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">

		<script src="{{ url_for('static', filename='jquery.js') }}"></script>
		<script src="{{ url_for('static', filename='utils.js') }}"></script>

		<script>
			var ln_user_token = "{{ token == None }}" == "True";
		</script>
		<script src="{{ url_for('static', filename='ln-monetize.js') }}"></script>
		<script src="{{ url_for('static', filename='qrcode.min.js') }}"></script>

	</head>

	<body>

		<div class="container">
			<div class="row">
				<div class="col-xs-10">

					<h2>Lightning Network Monetizing</h2>

					{% if token == None %}
						<div style="background:red;width:50%;height:100px;text-align:center;">
							<h2>Big disturbing ad!</h2>
						</div>
					{% endif %}

					<p>
						Monetize your lightning network site using the LN network. Allow users to pay for ad-free access to your site.<br>
						Source code on <a href="https://github.com/Falsen/ln-monetizing" target="_blank">Github</a>.<br>

						This will be a new era for the web. And maybe finally annoying popup-ads will be a thing of the past.<br>
					</p>

					<h3>Implementation</h3>

					<p>Currently, the implementation uses the OpenNode api for transactions. However in the future a self-hosted LND node is of course a must have. The backend uses Python's Flask.</p>

					<p>It is also possible to create other types of charges.</p>

					{% if token == None %}
						<div style="background:blue;width:50%;height:100px;text-align:center;">
							<h2>Another big disturbing ad!</h2>
						</div>
					{% endif %}

				</div>

				<div class="col-xs-2">
					{% if token == None %}
						<div style="background:green;height:50%;width:200px;text-align:center;margin-top:200px;float:right;">
							<h2>Another big disturbing ad!</h2>
						</div>
					{% endif %}
				</div>
			</div>

			<div class="row">
				<div class="col-xs-5">
					<textarea id="comment_text"></textarea><br>
					<button class="comment">Comment for 100 sats</button>
					<br>
					{% for comment in comments %}
						<h4><p>{{ comment.text }}</p></h4>
						<script>document.write(time_since(new Date().getTime()/1000-{{ comment.time }})); </script> ago
					{% endfor %}
				</div>

				<div class="col-xs-7">
					<p>You can for example take a small fee for commenting, which would stop spammers. Be sure to leave a comment to the left!
				</div>

			</div
		</div>


	</body>

</html>
